-- Fix database security issues

-- 1. Enable RLS on tables that don't have it
ALTER TABLE public.document_templates ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.vehicle_inspection_photos ENABLE ROW LEVEL SECURITY;

-- 2. Create RLS policies for document_templates
-- Allow authenticated users to access templates for their agency
DROP POLICY IF EXISTS "Users can view document templates for their agency" ON public.document_templates;
CREATE POLICY "Users can view document templates for their agency" ON public.document_templates
FOR SELECT USING (
  agency_id IN (
    SELECT agency_id FROM public.workers
    WHERE id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Users can insert document templates for their agency" ON public.document_templates;
CREATE POLICY "Users can insert document templates for their agency" ON public.document_templates
FOR INSERT WITH CHECK (
  agency_id IN (
    SELECT agency_id FROM public.workers
    WHERE id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Users can update document templates for their agency" ON public.document_templates;
CREATE POLICY "Users can update document templates for their agency" ON public.document_templates
FOR UPDATE USING (
  agency_id IN (
    SELECT agency_id FROM public.workers
    WHERE id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Users can delete document templates for their agency" ON public.document_templates;
CREATE POLICY "Users can delete document templates for their agency" ON public.document_templates
FOR DELETE USING (
  agency_id IN (
    SELECT agency_id FROM public.workers
    WHERE id = auth.uid()
  )
);

-- 3. Create RLS policies for vehicle_inspection_photos
-- Allow access through related inspections
DROP POLICY IF EXISTS "Users can view inspection photos through reservations" ON public.vehicle_inspection_photos;
CREATE POLICY "Users can view inspection photos through reservations" ON public.vehicle_inspection_photos
FOR SELECT USING (
  inspection_id IN (
    SELECT id FROM public.vehicle_inspections
    WHERE reservation_id IN (
      SELECT id FROM public.reservations
      WHERE client_id IN (
        SELECT id FROM public.clients
        WHERE agency_id IN (
          SELECT agency_id FROM public.workers
          WHERE id = auth.uid()
        )
      )
    )
  )
);

DROP POLICY IF EXISTS "Users can insert inspection photos through reservations" ON public.vehicle_inspection_photos;
CREATE POLICY "Users can insert inspection photos through reservations" ON public.vehicle_inspection_photos
FOR INSERT WITH CHECK (
  inspection_id IN (
    SELECT id FROM public.vehicle_inspections
    WHERE reservation_id IN (
      SELECT id FROM public.reservations
      WHERE client_id IN (
        SELECT id FROM public.clients
        WHERE agency_id IN (
          SELECT agency_id FROM public.workers
          WHERE id = auth.uid()
        )
      )
    )
  )
);

-- 4. Fix SECURITY DEFINER views by recreating them with SECURITY INVOKER

-- Drop and recreate maintenance_alerts view with SECURITY INVOKER
DROP VIEW IF EXISTS public.maintenance_alerts CASCADE;
CREATE VIEW public.maintenance_alerts WITH (security_invoker = true) AS
SELECT
  v.id,
  v.car_id,
  v.type,
  v.expiration_date,
  v.date as service_date,
  CASE
    WHEN v.type IN ('assurance', 'controle') AND v.expiration_date IS NOT NULL THEN
      CASE
        WHEN v.expiration_date < CURRENT_DATE THEN 'expired'
        WHEN v.expiration_date - INTERVAL '30 days' < CURRENT_DATE THEN 'warning'
        ELSE 'ok'
      END
    ELSE 'ok'
  END as status,
  CASE
    WHEN v.type IN ('assurance', 'controle') AND v.expiration_date IS NOT NULL THEN
      (v.expiration_date - CURRENT_DATE)::integer
    ELSE NULL
  END as days_until_expiration
FROM vehicle_expenses v
WHERE v.type IN ('assurance', 'controle');

-- Drop and recreate admin_count view with SECURITY INVOKER
DROP VIEW IF EXISTS public.admin_count CASCADE;
CREATE VIEW public.admin_count WITH (security_invoker = true) AS
SELECT COUNT(*) as count
FROM public.workers
WHERE type = 'admin';

-- Drop and recreate reservation_with_departure_inspection view with SECURITY INVOKER
-- (This is an educated guess based on usage patterns - adjust if needed)
DROP VIEW IF EXISTS public.reservation_with_departure_inspection CASCADE;
CREATE VIEW public.reservation_with_departure_inspection WITH (security_invoker = true) AS
SELECT
  r.*,
  di.id as departure_inspection_id,
  di.mileage as departure_mileage,
  di.fuel_level as departure_fuel_level,
  di.date as departure_inspection_date,
  di.time as departure_inspection_time,
  di.notes as departure_notes,
  di.exterior_front_photo,
  di.exterior_rear_photo,
  di.interior_photo,
  di.client_signature as departure_signature,
  da.name as departure_agency_name,
  da.address as departure_agency_address
FROM public.reservations r
LEFT JOIN public.vehicle_inspections di ON r.id = di.reservation_id AND di.type = 'departure'
LEFT JOIN public.agencies da ON r.departure_agency_id = da.id;
